<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Quan_Ly_So_Tiet_Kiem_Nhom_12.Properties.Settings.QuanLyTietKiemConnectionString"
            connectionString="Data Source=DESKTOP-ATGVPAR;Initial Catalog=QuanLyTietKiem;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>